* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Comienza mobile first */
header {
  width: 100vw;
  height: 80px;
  background-color: #008F95;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* body{
  overflow: hidden;
} */

.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 20px;
}
header nav{
  width: 0;
  height: 100%;
  top: 80px;
  right: 0;
  background: #008F95;
  position: absolute;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}


nav ol {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  list-style: none;
}

nav ol  li {
  
  line-height: 100px;
  
}
nav ol li  a {
  
  text-decoration: none;
  text-align: justify;
  text-transform: uppercase;
  color: rgb(242, 242, 242) ;
  font-size: 20px;
}

nav ol li > a:hover {
color: white;
}
.menu_toggle {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
  .mostrar{
    width: 100vw;
    
  }

  /* termina mobile first */

@media only screen and (min-width:768px){
    
    .menu_toggle{
      display: none;
    }
    
    header nav {
      /* background: red;   */
      width: 80%;
      top: 0;
      position: relative;
      font-size: 25px;
    }
    nav ol {
      flex-direction: row;
      height: 80px;
      align-items: center;    
      justify-content: flex-end;
    } 
    nav ol li{
      padding: 0 30px;
    }
    nav ol li ul li a{
      display: block;
      
    }
    nav ol li a {
      display: block;

    }

    nav li a:hover {
      background-color: #434343;
    }

    
}
